.main {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
  animation: opening .6s linear;
}


@keyframes opening {
  0% {
    transform: scaleY(0);
  }

  10% {
    transform: scaleY(0);
  }

  20% {
    transform: scaleY(0.2);

  }

  30% {
    transform: scaleY(0.3);
  }

  40% {
    transform: scaleY(0.4);
  }

  50% {
    transform: scaleY(0.5);
  }

  60% {
    transform: scaleY(0.6);
  }

  70% {
    transform: scaleY(0.7);

  }

  80% {
    transform: scaleY(0.8);
  }

  90% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(1);
  }

}